<div class="card mb-2 p-2">
  <div class="row align-items-center">
    <div class="col">{{ cartItem.game.name}}</div>
    <div class="col-2">{{ cartItem.amount}}</div>
    <div class="col-4 text-right">{{ cartItem.game.platform }}</div>
  </div>
</div>
