<nav class="navbar navbar-expang-lg navbar-dark bg-dark">
  <a routerLink="/" class="navbar-brand">ErBA-Games</a>

  <div class="navbar-expand">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/" class="nav-link">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/games" class="nav-link">Manage games</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/platform" class="nav-link">Platforms</a>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/games/new" class="nav-link">Create games</a>
      </li>
    </ul>
  </div>

</nav>
