<div class="row mt-2">
  <div class="col-6">

    <h4>Add game</h4>

    <form (ngSubmit)="createGame()">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          name="name"
          id="name"
          class="form-control"
          #nameInput
        />
      </div>
      <div class="form-group">
        <label for="imageUrl">Image</label>
        <input
          type="text name"
          name="imageUrl"
          id="imageUrl"
          class="form-control"
          #imageInput
        >
      </div>
      <div class="form-group">
        <label for="platform">Platform</label>
        <select
          name="platform"
          id="platform"
          class="form-control"
          [(ngModel)]="platform"
          #platformInput
        >
          <option value="select">Select</option>
          <option value="nes">NES</option>
          <option value="segaGenesis">Sega Genesis</option>
          <option value="superNintendo">Super Nintendo</option>
        </select>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea
          name="description"
          id="description"
          class="form-control"
          #descriptionInput
        ></textarea>
      </div>
      <button type="submit" class="btn btn-danger">Create</button>
    </form>
  </div>
</div>
