<div class="col">

<div class="card" style="width: 18rem;" (click)="onClick()">
  <div class="card-body">
    <h5 class="card-title">NES</h5>
  </div>
</div>

  <div class="card" style="width: 18rem;" (click)="onClick()">
    <div class="card-body">
      <h5 class="card-title">Sega Genesis</h5>
    </div>
  </div>

  <div class="card" style="width: 18rem;" (click)="onClick()">
    <div class="card-body">
      <h5 class="card-title">Super Nintendo</h5>
    </div>
  </div>
</div>
