<div class="card mb-2" (click)="onClick()">
  <div class="row no-gutters">
    <div class="col-sm-4">
      <img
        [src]="game.imageUrl"
        alt="{{ game.name }}"
        alt="Game"
        style="max-width: 100%"
      />
    </div>
    <div class="col-sm-8">
      <div class="card-body">
        <h5 class="card-title">{{ game.name }}</h5>
        <div class="card-text"><strong>{{ game.platform }}</strong></div>
        <p class="card-text small">{{ game.description }}</p>
      </div>
    </div>
  </div>
</div>
