<h4>Game cart</h4>

<ng-container *ngIf="cartItems.length > 0; else emptyCart">
<app-item
  *ngFor="let cartItem of cartItems"
  [cartItem]="cartItem"
></app-item>


</ng-container>

<ng-template #emptyCart>
<div class="alert alert-dark">
  Do yoy want to choose a game or put it here to buy it later?
</div>
</ng-template>

