<div class="row mt-2">
  <div class="col">
    <h4>Manage games</h4>
    <div class="list-group">
      <a
      *ngFor="let game of games; let i = index" class="list-group-item list-group-item-action"
      routerLink="{{i}}"
      routerLinkActive="active"
      >{{ game.name }}</a>
    </div>
  </div>
  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div> 
