<div class="row mt-2">
  <div class="col">
    <h4>Game details</h4>
    <h5>{{ game.name }}</h5>
    <img [src]="game.imageUrl" alt="{{ game.name}}" class="img-fluid"/>
    <p>Description: {{ game.description }}</p>
    <p>Platform: {{ game.platform }}</p>
  </div>
</div>
